<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=rLNgKU9OQ04FYZDZgQyL8WSqbRamAOyS" #Make sure to change ******* to your API key.
data = requests.get(url)
results = json.loads(data.text)
results

{'success': True,
 'timestamp': 1685694784,
 'base': 'EUR',
 'date': '2023-06-02',
 'rates': {'AED': 3.956028,
  'AFN': 93.454497,
  'ALL': 109.456237,
  'AMD': 413.737493,
  'ANG': 1.93154,
  'AOA': 634.952643,
  'ARS': 258.697461,
  'AUD': 1.627222,
  'AWG': 1.941407,
  'AZN': 1.832992,
  'BAM': 1.957378,
  'BBD': 2.163834,
  'BDT': 114.972718,
  'BGN': 1.956702,
  'BHD': 0.406065,
  'BIF': 3024.510983,
  'BMD': 1.077064,
  'BND': 1.448455,
  'BOB': 7.40611,
  'BRL': 5.401152,
  'BSD': 1.071784,
  'BTC': 3.9722568e-05,
  'BTN': 88.349068,
  'BWP': 14.782784,
  'BYN': 2.705232,
  'BYR': 21110.446148,
  'BZD': 2.160232,
  'CAD': 1.445193,
  'CDF': 2511.712744,
  'CHF': 0.973719,
  'CLF': 0.031411,
  'CLP': 866.712009,
  'CNY': 7.619362,
  'COP': 4729.386175,
  'CRC': 578.171624,
  'CUC': 1.077064,
  'CUP': 28.542185,
  'CVE': 110.361048,
  'CZK': 23.686027,
  'DJF': 190.814135,
  'DKK': 7.449122,
  'DOP': 58.567775,
  'DZD': 146.846523,
  'EGP': 33.279542,
  'ERN': 16.155954,
  'ETB': 58.529944,
  'EUR': 1,
  'FJD': 2.408524,
  'FKP': 0.859206,
  'GBP': 0.859465,
  'GEL': 2.805764,
  'GGP': 0.859206,
  'GHS': 12.083969,
  'GIP': 0.859206,
  'GMD': 64.160999,
  'GNF': 9212.172403,
  'GTQ': 8.391845,
  'GYD': 226.677009,
  'HKD': 8.438335,
  'HNL': 26.348493,
  'HRK': 7.479496,
  'HTG': 149.51057,
  'HUF': 370.983443,
  'IDR': 15980.661588,
  'ILS': 4.032876,
  'IMP': 0.859206,
  'INR': 88.681649,
  'IQD': 1403.958268,
  'IRR': 45559.789511,
  'ISK': 149.916716,
  'JEP': 0.859206,
  'JMD': 165.678994,
  'JOD': 0.764606,
  'JPY': 149.627287,
  'KES': 149.392405,
  'KGS': 94.336549,
  'KHR': 4416.561659,
  'KMF': 496.903642,
  'KPW': 969.315719,
  'KRW': 1406.294962,
  'KWD': 0.331294,
  'KYD': 0.893137,
  'KZT': 480.95679,
  'LAK': 19258.888611,
  'LBP': 16087.071857,
  'LKR': 316.18085,
  'LRD': 182.158351,
  'LSL': 21.228676,
  'LTL': 3.180289,
  'LVL': 0.651505,
  'LYD': 5.17691,
  'MAD': 10.903796,
  'MDL': 19.025696,
  'MGA': 4712.756764,
  'MKD': 61.669732,
  'MMK': 2250.656795,
  'MNT': 3743.320261,
  'MOP': 8.646333,
  'MRO': 384.511512,
  'MUR': 49.551097,
  'MVR': 16.479643,
  'MWK': 1100.076924,
  'MXN': 18.910224,
  'MYR': 4.940507,
  'MZN': 68.124114,
  'NAD': 21.239864,
  'NGN': 496.795296,
  'NIO': 39.201613,
  'NOK': 11.845481,
  'NPR': 141.354368,
  'NZD': 1.765167,
  'OMR': 0.414707,
  'PAB': 1.071774,
  'PEN': 3.937112,
  'PGK': 3.852071,
  'PHP': 60.199769,
  'PKR': 305.767181,
  'PLN': 4.51378,
  'PYG': 7794.888006,
  'QAR': 3.921564,
  'RON': 4.964291,
  'RSD': 117.254492,
  'RUB': 87.129051,
  'RWF': 1209.875683,
  'SAR': 4.040025,
  'SBD': 8.976427,
  'SCR': 14.496806,
  'SDG': 647.315469,
  'SEK': 11.579478,
  'SGD': 1.448817,
  'SHP': 1.310517,
  'SLE': 24.331618,
  'SLL': 21272.005965,
  'SOS': 612.309479,
  'SRD': 40.743135,
  'STD': 22293.041503,
  'SVC': 9.377737,
  'SYP': 2706.068518,
  'SZL': 21.198095,
  'THB': 37.255284,
  'TJS': 11.708742,
  'TMT': 3.769723,
  'TND': 3.328935,
  'TOP': 2.555171,
  'TRY': 22.488705,
  'TTD': 7.253985,
  'TWD': 33.009304,
  'TZS': 2549.409744,
  'UAH': 39.582653,
  'UGX': 4020.316767,
  'USD': 1.077064,
  'UYU': 41.533494,
  'UZS': 12227.860944,
  'VEF': 2820118.542893,
  'VES': 28.144961,
  'VND': 25291.606962,
  'VUV': 130.397023,
  'WST': 2.94909,
  'XAF': 656.486412,
  'XAG': 0.045041,
  'XAU': 0.000545,
  'XCD': 2.910818,
  'XDR': 0.804842,
  'XOF': 656.452863,
  'XPF': 120.840107,
  'YER': 269.643061,
  'ZAR': 21.061117,
  'ZMK': 9694.866782,
  'ZMW': 20.924806,
  'ZWL': 346.814033}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(results)
dataframe

     success   timestamp base        date        rates
AED     True  1685694784  EUR  2023-06-02     3.956028
AFN     True  1685694784  EUR  2023-06-02    93.454497
ALL     True  1685694784  EUR  2023-06-02   109.456237
AMD     True  1685694784  EUR  2023-06-02   413.737493
ANG     True  1685694784  EUR  2023-06-02     1.931540
..       ...         ...  ...         ...          ...
YER     True  1685694784  EUR  2023-06-02   269.643061
ZAR     True  1685694784  EUR  2023-06-02    21.061117
ZMK     True  1685694784  EUR  2023-06-02  9694.866782
ZMW     True  1685694784  EUR  2023-06-02    20.924806
ZWL     True  1685694784  EUR  2023-06-02   346.814033

[170 rows x 5 columns]

In [5]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.956028
AFN    93.454497
ALL   109.456237
AMD   413.737493
ANG     1.931540
..           ...
YER   269.643061
ZAR    21.061117
ZMK  9694.866782
ZMW    20.924806
ZWL   346.814033

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [6]:
# Save the Dataframe
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).